<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @business_plan.title %>
</p>

<%= link_to 'Edit', edit_business_plan_path(@business_plan) %> |
<%= link_to 'Back', business_plans_path %>
